.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.regions {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: black solid;
}

.ne-plants {
    margin: 10px;
    padding: 10px;
}

.nw-plants {
    margin: 10px;
    padding: 10px;
}

.se-plants {
    margin: 10px;
    padding: 10px;
}

.sw-plants {
    margin: 10px;
    padding: 10px;
}

.plant-list {
    list-style: none;
}

.plant-list img {
    display: flex;
    width: 200px;
}

.plant-grid {
    display: grid;
    grid-template-columns: 60px 60px;
    padding: 20px;
    margin: 20px;
}